@import "tailwindcss";
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.4s ease-out;
}

.slide-in {
  animation: slideIn 0.4s ease-out;
}
